Load Numpy and Pandas

In [1]:

import pandas as pd
import numpy as np

sf_permits = pd.read_csv("../input/building-permit-applications-data/Building_Permits.csv")

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
 sf_permits.sample(5)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
45019,M480127,8,otc alterations permit,04/15/2014,2772,034,551,NaN,Eureka,St,...,NaN,NaN,NaN,NaN,NaN,8.0,Noe Valley,94114.0,"(37.75348002962032, -122.43726636962602)",1338757143868
57223,201408073275,8,otc alterations permit,08/07/2014,3740,030,160,NaN,Folsom,St,...,3.0,constr type 3,3.0,constr type 3,NaN,6.0,Financial District/South Beach,94105.0,"(37.78973848182087, -122.39175134453814)",1351529165677
48423,201405196084,8,otc alterations permit,05/19/2014,0566,003,2619,NaN,Laguna,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,2.0,Pacific Heights,94123.0,"(37.79553274197246, -122.43042716198185)",134230674601
92224,201507151622,8,otc alterations permit,07/15/2015,3726,006,144,NaN,06th,St,...,3.0,constr type 3,3.0,constr type 3,NaN,6.0,South of Market,94103.0,"(37.780215812916886, -122.40824683074042)",1388596431586
175798,201704103593,8,otc alterations permit,04/10/2017,0238,001,275,NaN,Battery,St,...,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Financial District/South Beach,94104.0,"(37.79386286998276, -122.40037373645143)",145903863386

# How many missing values ???
___

In [3]:
# get the number of missing values per column
missing_values_count = sf_permits.isnull().sum()

# look at the # of missing values in the entire dataset
missing_values_count[:]

Permit Number                                  0
Permit Type                                    0
Permit Type Definition                         0
Permit Creation Date                           0
Block                                          0
Lot                                            0
Street Number                                  0
Street Number Suffix                      196684
Street Name                                    0
Street Suffix                               2768
Unit                                      169421
Unit Suffix                               196939
Description                                  290
Current Status                                 0
Current Status Date                            0
Filed Date                                     0
Issued Date                                14940
Completed Date                            101709
First Construction Document Date           14946
Structural Notification                   191978
Number of Existing Stories                 42784
Number of Proposed Stories                 42868
Voluntary Soft-Story Retrofit             198865
Fire Only Permit                          180073
Permit Expiration Date                     51880
Estimated Cost                             38066
Revised Cost                                6066
Existing Use                               41114
Existing Units                             51538
Proposed Use                               42439
Proposed Units                             50911
Plansets                                   37309
TIDF Compliance                           198898
Existing Construction Type                 43366
Existing Construction Type Description     43366
Proposed Construction Type                 43162
Proposed Construction Type Description     43162
Site Permit                               193541
Supervisor District                         1717
Neighborhoods - Analysis Boundaries         1725
Zipcode                                     1716
Location                                    1700
Record ID                                      0
dtype: int64

In [4]:
# Get the total percent of missing data 

total_cells = np.product(sf_permits.shape)
total_missing = missing_values_count.sum()

(total_missing/total_cells) * 100

26.26002315058403

# Dropping missing values

Remove all **rows** that contain a missing value

In [5]:

sf_permits.dropna()

# In this case this will remove all data because every row has at least one missing values

Empty DataFrame
Columns: [Permit Number, Permit Type, Permit Type Definition, Permit Creation Date, Block, Lot, Street Number, Street Number Suffix, Street Name, Street Suffix, Unit, Unit Suffix, Description, Current Status, Current Status Date, Filed Date, Issued Date, Completed Date, First Construction Document Date, Structural Notification, Number of Existing Stories, Number of Proposed Stories, Voluntary Soft-Story Retrofit, Fire Only Permit, Permit Expiration Date, Estimated Cost, Revised Cost, Existing Use, Existing Units, Proposed Use, Proposed Units, Plansets, TIDF Compliance, Existing Construction Type, Existing Construction Type Description, Proposed Construction Type, Proposed Construction Type Description, Site Permit, Supervisor District, Neighborhoods - Analysis Boundaries, Zipcode, Location, Record ID]
Index: []

[0 rows x 43 columns]

Remove all **columns** with at least one missing value

In [6]:
columns_with_na_dropped =sf_permits.dropna(axis=1)
columns_with_na_dropped.head()

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Name,Current Status,Current Status Date,Filed Date,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,Ellis,expired,12/21/2017,05/06/2015,1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,Geary,issued,08/03/2017,04/19/2016,1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,Pacific,withdrawn,09/26/2017,05/27/2016,1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,Pacific,complete,07/24/2017,11/07/2016,1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,Market,issued,12/01/2017,11/28/2016,144548169992

In [7]:
# how much data was lost
print("Columns in original dataset: %d \n" % sf_permits.shape[1])
print("Columns with na's dropped: %d" % columns_with_na_dropped.shape[1])

Columns in original dataset: 43

Columns with na's dropped: 12

# Fill in missing values

In [8]:
# get a small subset of the San Francisco dataset
subset_sf_permits = sf_permits.loc[:, 'Permit Number':'Street Suffix'].head()
subset_sf_permits

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,NaN,Ellis,St
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,NaN,Geary,St
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,NaN,Pacific,Av
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,NaN,Pacific,Av
4,201611283529,6,demolitions,11/28/2016,0342,001,950,NaN,Market,St

Fill `NaN` values with 0.

In [9]:
# replace all NA's with 0
subset_sf_permits.fillna(0)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,0,Ellis,St
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,0,Geary,St
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,0,Pacific,Av
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,0,Pacific,Av
4,201611283529,6,demolitions,11/28/2016,0342,001,950,0,Market,St

`bfill` : this technique consists in replacing the missing values with whatever value comes directly after it in the same column. (This makes a lot of sense for datasets where the observations have some sort of logical order to them.)

In [10]:
# replace all NA's the value that comes directly after it in the same column, 
# then replace all the reamining na's with 0
subset_sf_permits.fillna(method = 'bfill', axis=0).fillna(0)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,0.0,Ellis,St
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,0.0,Geary,St
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,0.0,Pacific,Av
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,0.0,Pacific,Av
4,201611283529,6,demolitions,11/28/2016,0342,001,950,0.0,Market,St